@using HairSalon.Models

<div class="jumbotron">
  <h1>Snappy Snips Hair Salon: Roster/Client Base</hr>
</div>
<div class="container-fluid">
    <h1>Stylists</h1>
    <div class="row">
        <div class="col-md-2">
            <h4>Stylists</h4>
            <form class="form-group" action='/stylists/Create' method='post'>
                <label>Stylist name</label>
                <input type="text" name="newName" class="form-control" required>
                <label>Start Date</label>
                <input type="date" name="newStartDate" class="form-control" required>
                <label>Wage</label>
                <input type="number" name="newPay" class="form-control" required>
                <button class='btn btn-success'>Add Stylist</button>
            </form>
            <hr>
            @foreach (Stylist stylist in @Stylist.GetAll())
            {
              <a href='/stylists/details/@stylist.Id' method='get'>@stylist.Name</a><br>
            } <br>
            <h4>Clients</h4>
            <form class="form-group" action='/stylists/Client/Create' method='post'>
              <label>Client name</label>
              <input type="text" name="newName" class="form-control" required>
              <label>Address</label>
              <input type="text" name="newAddress" class="form-control" required>
              <label>Phone</label>
              <input type="tel" name="newphone" class="form-control" required>
              <label>Stylist</label>
              <select name="newStylistId" class="form-control" required>
                  <option value=""></option>
                  @foreach (Stylist stylist in @Stylist.GetAll())
                  {
                    <option value="@stylist.Id">@stylist.Name</option>
                  }
              </select>
                <button class='btn btn-success'>Add Client</button>
            </form>
            <hr>

            @foreach (Client client in @Client.GetAll())
            {
              <a href='/stylists/details/@client.StylistId' method='get'>@client.Name</a><br>
            }<br>
            <form action='/' method='get'>
                <button class='btn btn-info'>Back to Home</button>
            </form><br>
        </div>
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Stylist Name</th>
                        <th scope="col">StartDate</th>
                        <th scope="col">Wage</th>
                        <th scope="col">Clients</th>

                        <th scope="col">Delete</th>
                    </tr>
                </thead>

                @foreach (Stylist stylist in @Stylist.GetAll())
                {
                <tbody>
                    <tr>
                        <td>
                          <a href="/stylists/details/@stylist.Id" method="get">@stylist.Name</a>
                        </td>
                        <td>@stylist.StartDate</td>
                        <td>@stylist.Wage</td>
                        <td>
                            @foreach (Client client in @Client.GetAll())
                            {
                                @if(@client.StylistId == stylist.Id)
                                {
                                  <a href='/stylists/details/@client.StylistId' method='get'>@client.Name</a>
                                  <a href="/stylists/client/delete/@client.Id" method='get'>>Delete<</a>
                                  <br>
                                }
                            }
                        </td>

                        <td>
                            <form action='/stylists/delete/@stylist.Id' method='post'>
                                <button class='btn btn-danger' type='submit'>Delete</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
                }
            </table>
        </div>
    </div>

</div>
